<form id="formulario" [formGroup]="formGroup">
  
  <h1 class="h1reg">{{usuarioActualizar ? 'Actualizar Usuario' : 'Agregar usuario'}}</h1>
  <fieldset>
      <p>
          <label for="nombre">NOMBRES:</label>
          <input type="text" class="requerido" formControlName="nombres">
      </p>
      <p>
          <label for="nombre">APELLIDOS:</label>
          <input type="text" class="requerido" formControlName="apellidos">
      </p>
      <p>
          <label for="nombre">EMAIL:</label>
          <input type="text" class="requerido"  formControlName="email">
      </p>
      <p>
          <label for="nombre">CONTRASEÑA:</label>
          <input type="password" class="requerido"  formControlName="contra">
      </p>
      <p>
          <label>EDAD:</label>
          <input type="text" class="requerido"  formControlName="edad" maxlength="2"  onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
      </p>
      <p>
          <label class="requerido">GRADO:</label>
      </p>
          <div class="content-select">
              <select formControlName="grado">

              <option>Seleccione</option>    
              <option>Preescolar</option>
              <option>Primero</option>
              <option>Segundo</option>
              <option>Tercero</option>
              <option>Cuarto</option>
              <option>Quinto</option>
              <option>Otro</option>

              </select>
              <i></i>
          </div>
      <br><br>
      
    <div>
            <button type="submit" class="btnregistro" [disabled]="formGroup.invalid" (click)="registrar()" *ngIf="!usuarioActualizar">Enviar</button>
            <button type="submit" class="btnregistro" [disabled]="formGroup.invalid" (click)="actualizarUsuario()" *ngIf="usuarioActualizar">Actualizar</button>
    </div>
      
  </fieldset>
</form>