.contenedor{
    width: 90%;
    margin: 50px auto;
}
h1{
    // margin-bottom: 20px;
    font-size: 60px;
    color: black;
    font-family: 'Gorditas', cursive;
    text-decoration: none;
    text-align: center;
}