<div class="table">
<table class="tabla">
    <thead>
      <tr>
        <th scope="col">nombres</th>
        <th scope="col">apellidos</th>
        <th scope="col">email</th>
        <th scope="col">contra</th>
        <th scope="col">grado</th>
        <th scope="col">edad</th>
        <th scope="col">ID</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuariobe">
        <td>{{usuario.nombres}}</td>
        <td>{{usuario.apellidos}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.contra}}</td>
        <td>{{usuario.grado}}</td>
        <td>{{usuario.edad}}</td>
        <td>{{usuario.idusuario}}</td>
        <div class="seccion1"> 
        <td><button type="button" class="btn btn-danger" (click)="eliminarUsuario(usuario.idusuario)">Eliminar</button>
        <button type="button" class="btn btn-outline-success" (click)="irActualizarUsuario(usuario)">Actualizar</button></td>
        </div>
      </tr>
    </tbody>
  </table>
</div>
